@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 60% 95%;
    --foreground: 231 48% 18%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 18%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 88%;
    --secondary-foreground: 231 48% 18%;
    --muted: 231 48% 92%;
    --muted-foreground: 231 48% 38%;
    --accent: 14 100% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 80%;
    --input: 0 0% 100%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 14 100% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 48% 18%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 231 48% 94%;
    --sidebar-accent-foreground: 231 48% 18%;
    --sidebar-border: 231 48% 88%;
    --sidebar-ring: 231 48% 48%;
  }
 
  .dark {
    --background: 231 22% 14%;
    --foreground: 234 60% 95%;
    --card: 231 22% 18%;
    --card-foreground: 234 60% 95%;
    --popover: 231 22% 14%;
    --popover-foreground: 234 60% 95%;
    --primary: 234 60% 95%;
    --primary-foreground: 231 48% 48%;
    --secondary: 231 22% 24%;
    --secondary-foreground: 234 60% 95%;
    --muted: 231 22% 24%;
    --muted-foreground: 231 48% 70%;
    --accent: 14 100% 67%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 22% 24%;
    --input: 231 22% 24%;
    --ring: 14 100% 67%;
    --sidebar-background: 231 22% 14%;
    --sidebar-foreground: 234 60% 95%;
    --sidebar-primary: 234 60% 95%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 22% 24%;
    --sidebar-accent-foreground: 234 60% 95%;
    --sidebar-border: 231 22% 24%;
    --sidebar-ring: 14 100% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
